<!-- Navbar -->
<div class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-logo"><a href="/">sk8.com.au</a></li>
    <li class="navbar-item"><a href="/">home</a></li>
    <li class="navbar-item"><a href="/contact">contact us</a></li>
    <li class="navbar-item"><a href="#">my cart</a></li>
    <li class="navbar-item button"><a href="#">login</a></li>
    <li class="navbar-item button"><a href="#">sign up</a></li>
    <li class="navbar-toggle"><a href="#">menu</a></li>
  </ul>
</div>
